<h2>Edit this todo</h2>
<form action= "/todo/update/<%= @todo.id %>">
    <input id="text" type= "text" placeholder="enter task">
    <input class="submit-button" id="new-todo-block" type="submit" placeholder="enter task">
    <a href ="/todo/index" class="simple-link">Back</a>
</form>