    <h1> Todo list Application</h1>
    <ul>
        <% @todos.each do |todo| %>
        <li>
            <input type="checkbox">
            <a href="show/<%=todo.id %>"><%= todo.description%></a>
            <!-- <span class="todo"> Do laundry </span></a> --> 
       <% end %>
       </li>
       
       <!-- 
           <input type="checkbox">
            <a href="show/2">
            <span class="todo"> Take out the trash </span> </a>
        </li> 
        <li>
            <input type="checkbox">
            <a href="show/3">
            <span class="todo"> Cut the grass </span></a>
        </li> 
        <li>
            <input type="checkbox">
            <a href="show/4">
            <span class="todo"> Clean my room </span> </a>
        </li>
        <li>
            <input type="checkbox">
            <a href="show/5">
            <span class="todo"> Do dishes</span> </a>
        </li>-->
    </ul>
        <div id="new-todo-block"> 
             <input id="text" type= "text" placeholder="enter task">
             <a href= "/todo/new" class="button add-new-todo-button" id="add-new-todo-button"> Add a todo </a>
            <!-- <input id="submit-button" type="submit" value="Add to do"> -->
        </div>
         