<h2>Add a new...</h2>
    <form action="/todo/create">
        <input id="text" type= "text" placeholder="enter task">
        <input class="submit-button" id="new-todo-block" type="submit" placeholder="enter task"
    </form>