<h2>Add a new...</h2>
    <form action="/todo/create">
        <input id="text" type= "text" placeholder="enter task">
        <input class="submit-button" id="new-todo-button" type="submit" placeholder="enter task">
        <!-- <a href= "/todo/new" class="button add-new-todo-button" id="add-new-todo-button"> Add a todo </a> -->
    </form>